/* DatePickerStyles.css */
.react-datepicker-wrapper {
    display: inline-block;
    position: relative;
    margin-bottom: 5px;
}

.react-datepicker__input-container {
    display: block;
}

.react-datepicker__input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #7dc4f3; /* Light blue border color */
    background-color: #3498db;
    font-size: 16px;
    color: white;
    cursor: pointer; /* Show pointer cursor on hover */
    border-radius: 20px; /* Rounded border */
    outline: none; /* Remove outline */
    text-align: center;
}

.react-datepicker__input-container input:hover,
.react-datepicker__input-container input:focus {
    /* Define styles for hover and focus states */
    border-color: #0a6bab; /* Darker blue border color on hover/focus */
}

.react-datepicker__month-container {
    z-index: 9999; /* Ensure the calendar appears on top of other elements */
}
